.container{
    padding: 1rem;
    text-align: center;
}
.AddMovie{
    align-items: center;
}
.AddMovie__right{
    padding: 1rem;
    text-align: left;
}
.title1{
    text-align: center;
    color: #f1ca89;
    padding-bottom: 2em;
}
.title{
    text-align: left;
}
.AddMovie_img{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.poster{
    text-align: left;
    font-size: 1rem;
    margin: 1rem;
}

.input__poster{
    width: 72%;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 8px;
    margin-right: 0.5rem;
}
.type{
    height: 2.3rem;
    width: 25%;
    border-radius: 8px;
}

/* Medium Screen */
@media(min-width: 768px){
    .container{
        max-width: 1200px;
        margin: 2rem auto;
    }
    .AddMovie{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .AddMovie__left{
        flex-basis: 60%;
    }
    .Addmovie__right{
        flex-basis: 40%;
    }
    .input__poster{
        margin-right: 0.5rem;
    }
}
.inputtitle{
    width: 100%;
}
.inputyear{
    width: 100%;
}

.button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #f1ca89;
    color: #fff;
    width: 100%;
}
/* large Screem */
@media(min-width: 992px){
    .container{
        max-width: 1200px;
        margin: 2rem auto;
    }
    .AddMovie{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .Addmovie__left{
        flex-basis: 60%;
    }
    .AddMovie__right{
        flex-basis: 40%;
    }
}


label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

button {
  background-color: #f1ca89;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #68a19b;
}